@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-v11-latin-regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/outfit-v11-latin-700.woff2') format('woff2');
  font-weight: 700; 
  font-style: normal; 
  font-display: swap;
}

:root {
  /* fonts */
  --font-family: 'Outfit', arial, sans-serif;
  --font-weight-thin: 400;
  --font-weight-bold: 700;

  /* font-sizes */
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-medium: 20px;
  --font-size-large: 28px;
  --font-size-xlarge: 32px;

  /* colors */
  --color-primary: #4A4FF2;
  --color-primary-highlight: #D5E8FF;

  --color-regular-text: #5D666A;
  --color-background:#F0F0F0;
  --color-background-section:#FFFFFF;
  --color-shadow: #C8C8C8;
  --color-border:#5D666A;

  /* colors for grading */
  --color-status-good:#0080002a;
  --color-status-decent:#0274ff39;
  --color-status-fine:#ffa60032;
  --color-status-bad:#ff000025;
  --color-status-good-border:green;
  --color-status-decent-border:var(--color-primary);
  --color-status-fine-border:orange;
  --color-status-bad-border:red;

  /* global properties */
  --average-gap: 20px;
  --average-padding: 30px;
  --box-shadow: 0px 0px 9px -2px var(--color-shadow);
  --box-shadow-hover: 0px 0px 9px 5px var(--color-shadow);
  --section-border-radius: 8px;  
  --page-width: 1300px;
}

@media (max-width: 500px) {
  :root {
    --average-padding: 20px; 
  }
}

* {
  font-family: var(--font-family);
  color: var(--color-regular-text);

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 5px solid var(--color-primary);
  outline-offset: 2px;
}

body {
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --heading-line-height: 90%;
  --heading-letter-spacing: 0px;
  --heading-font-weight: 700;

  font-family: var(--font-family-medium);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

p,
ul,
li,
a {
  --font-size: 1.1em;
  --font-color: var(--color-regular-text);
  --line-height: 24px;

  font-size: var(--font-size);
  color: var(--font-color);
  line-height: var(--line-height);
}

a {
  --color-hyperlink:var(--color-primary);
  --color-hyperlink-active: #004497;

  color: var(--color-hyperlink);
}

a:hover {
  color: var(--color-hyperlink-active);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}